---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div style="font-size: 22px; font-weight: bold; margin-bottom: 10px; color: #333;">
  Publications: 8 &nbsp;|&nbsp; Citations: 72 &nbsp;|&nbsp; H-index: 3
</div>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign posts_in_category = site.publications | where: "category", category[0] | sort: "date" | reverse %}
    {% for post in posts_in_category %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign posts_sorted = site.publications | sort: "date" | reverse %}
  {% for post in posts_sorted %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
