---
layout: archive
title: "论文 / Publications"
permalink: /publications/
author_profile: true
---

<div style="font-size: 22px; font-weight: bold; margin-bottom: 10px; color: #333;">
  Publications: 11 &nbsp;|&nbsp; Citations: 95 &nbsp;|&nbsp; H-index: 3 &nbsp;|&nbsp; Updated: 2026-04-20
</div>

{% if site.author.googlescholar %}
  <div class="wordwrap">
    你也可以在 <a href="{{site.author.googlescholar}}">我的 Google Scholar 主页</a> 找到我的论文。
    <br />
    You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign posts_in_category = site.publications | where: "category", category[0] | sort: "date" | reverse %}
    {% for post in posts_in_category %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
      <hr />
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign posts_sorted = site.publications | sort: "date" | reverse %}
  {% for post in posts_sorted %}
    {% include archive-single.html %}
    <hr />
  {% endfor %}
{% endif %}
